.main {
  &-top {
    height: 644px;
    background: url(../img/top-desktop-bkg-2.jpg.png) calc(50% - 10px) -130px repeat-x transparent;
    background-size: 2560px;
    .container {
      height: 100%;
      position: relative;
    }
    &-title {
      font-family: Mobil, "Open Sans Hebrew", sans-serif;
      font-size: 115px;
      line-height: 100px;
      width: 225px;
      height: 345px;
      color: $black;
      position: absolute;
      top: 225px;
      left: calc(50% - 365px);
      img {
        position: absolute;
        top: -10px;
        right: 0;
      }
    }
  }
  &-about {
    height: 696px;
    background: url(../img/about-notification.png) calc(50% + 185px) calc(100% - 58px) no-repeat, url(../img/about-desktop-bkg.jpg) center repeat-x transparent;
    background-size: auto;
    &-title {
      text-align: center;
      font-size: 74px;
      line-height: 74px;
      color: #fff;
      font-weight: 900;
      text-transform: uppercase;
      margin: 20px auto 54px auto;
    }
    &-description {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-list {
      width: 350px;
      list-style: none;
      &-item {
        position: relative;
        font-size: 19px;
        line-height: 36px;
        color: $list;
        &:before {
          content: '';
          @include circle(4px);
          background: #fff;
          position: absolute;
          top: 16px;
          right: -10px;
        }
      }
    }
    &-info {
      width: 415px;
      margin-right: -30px;
      &-paragraph {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        color: $text;
      }
    }
  }
  &-who {
    background: url(../img/who-desktop-bkg.jpg) center no-repeat #dcdcdc;
    height: 699px;
    &-title {
      color: #707070;
      text-align: center;
      font-size: 70px;
      font-weight: bold;
      line-height: 70px;
      margin:20px auto 58px auto;
    }
    &-description {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-list {
      width: 385px;
      list-style: none;
      &-item {
        position: relative;
        font-size: 19px;
        line-height: 36px;
        color: $list;
        font-weight: bold;
        &:before {
          content: '';
          @include circle(4px);
          background: #fff;
          position: absolute;
          top: 16px;
          right: -10px;
        }
      }
    }
    &-info {
      width: 415px;
      margin-right: -30px;
      &-paragraph {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        color: $text;
      }
    }
  }
  &-how {
    background: url(../img/how-right.png) right bottom no-repeat, url(../img/how-left.png) left bottom no-repeat #d8d9da;
    height: 694px;
    &-title {
      color: #707070;
      text-align: center;
      font-size: 70px;
      font-weight: bold;
      line-height: 70px;
      margin:27px auto 80px auto;
    }
    &-list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 80px;
      &-item {
        width: 117px;
        margin-left: 108px;
        text-align: center;
        & > * {
          display: block;
          margin-top: 0;
          margin-left: auto;
          margin-right: auto;
        }
        &:last-child {
          margin-left: 0;
        }
        &-logo {
          margin-bottom: 18px;
        }
        &-description {
          font-weight: bold;
          color: $list;
          font-size: 19px;
          line-height: 16px;
        }
      }
    }
    &-description {
      color: $blue;
      text-align: center;
      font-size: 74px;
      line-height: 74px;
      width: 600px;
      margin: 0 auto;
    }
  }
  &-team {
    background-color: #e9eaee;
    background-image: url(../img/team-left.png), url(../img/team-right.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: calc(50% + 490px) 40px, calc(50% - 490px) bottom;
    &-title {
      color: #707070;
      text-align: center;
      font-weight: bold;
      font-size: 74px;
      line-height: 74px;
      margin: 32px auto 50px auto;
    }
    &-description {
      color: $text;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      max-width: 770px;
      width: calc(100% - 30px);
      margin: 0 auto 30px auto;
    }
    &-list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 75px auto 55px auto;
      &-item {
        padding: 0 12px;
        border-left: 1px solid #fff;
        color: #707070;
        font-size: 20px;
        line-height: 24px;
        &:last-child {
          border-left: 0;
        }
      }
    }
  }
  &-codex {
    height: 700px;
    background-image: url(../img/codex-right.png), url(../img/codex-left.png);
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    background-color: #ccccce;
    &-title {
      font-size: 74px;
      line-height: 74px;
      font-weight: bold;
      color: #707070;
      margin: 35px auto 80px auto;
      text-align: center;
    }
    &-description {
      width: 570px;
      margin: 0 auto 32px auto;
      text-align: center;
      color: $text;
      font-size: 20px;
      line-height: 24px;
    }
  }
}