@import "vars";

/*==========  Desktop First  ==========*/
@media only screen and (min-width: 1921px) {
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1930px){

}
@media only screen and (max-width : 1800px){

}
@media only screen and (min-width: 1650px) {

}
@media only screen and (max-width : 1600px){

}
@media only screen and (max-width : 1625px){

}
@media only screen and (max-width : 1500px){

}
@media only screen and (max-width : 1400px){
	
}
@media only screen and (max-width : 1300px) {
}
@media only screen and (max-width : 1290px) {

}
@media only screen and (max-width : 1250px) {
  .main {
    &-about, &-who {
      &-info {
        margin-right: 0;
        width: 385px;
      }
    }
  }
}
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 1199px){
  @import "media-header-1199";
  @import "media-main-1199";
  @import "media-footer-1199";
}
@media only screen and (max-width : 1100px){

}
@media only screen and (max-width : 1030px){

}

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px){
  @import "media-header-992";
  @import "media-main-992";
  @import "media-footer-992";
}
@media only screen and (max-width : 991px){

}
@media only screen and (max-width : 950px){

}
/* Small Devices, Tablets */
@media only screen and (max-width : 800px){

}
@media only screen and (max-width : 768px){

}
@media only screen and (max-width : 767px){
  @import "media-modal-767";
}
@media only screen and (max-width : 690px){

}
@media only screen and (max-width : 650px){

}
@media only screen and (max-width : 600px){

}
@media only screen and (max-width : 576px){

}
@media only screen and (max-width : 550px){

}

@media only screen and (max-width : 509px){

}
@media only screen and (max-width : 505px){

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
}
@media only screen and (max-width : 460px){

}
@media only screen and (max-width : 450px){

}
@media only screen and (max-width : 449px){

}
@media only screen and (max-width : 425px){

}
@media only screen and (max-width : 421px){

}
@media only screen and (max-width : 412px){

}
@media only screen and (max-width : 400px){
	
	
}
@media only screen and (max-width : 375px){

}
@media only screen and (max-width : 330px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	
	}
@media only screen and (min-width : 1400px){
	
}
@media only screen and (min-width : 1600px){

}
@media only screen and (min-width : 1700px){

}
@media (orientation: landscape) and (max-width: 768px) {

}
@-moz-document url-prefix()
{
  @media only screen and (max-width: 992px) {

  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10 IE11 */
}