.footer {
  position: fixed;
  bottom: 0;
  padding: 0px 17px 0px 17px;
  background: #fff;
  z-index: 11;
  .container {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease;
  }
  &.open {
    padding-bottom: 24px;
    .container {
      padding-top: 30px;
      height: 389px;
    }
  }
  &-form {
    display: block;
    &-input {
      &-wrapper {
        display: block;
        margin-bottom: 18px;
        &:nth-child(3) {
          margin-bottom: 35px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-label {
        text-align: center;
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 22px;
      }
      width: 245px;
      border-radius: 8px;
      padding: 7px 15px;
      text-align: center;
      margin: 0 auto;
    }
    &-submit {
      width: 185px;
      font-size: 22px;
      font-weight: 400;
      border-radius: 8px;
      margin: 0 auto;
    }
  }
  &-burger {
    display: block;
    &-input:checked {
      & ~ .container {
        padding: 30px 15px 24px 15px;
        height: 389px;
      }
    }
  }
}