.main {
  &-top {
    overflow: hidden;
    margin-top: 35px;
    height: 71.875vw;
    background-size: cover;
    background-position: center bottom;
    &-title {
      width: 23.438vw;
      font-size: 9.412vw;
      line-height: 9.3vw;
      height: auto;
      top: 20.813vw;
      left: calc(50% - 25vw);
      img {
        width: 69%;
        top: -5%;
      }
    }
  }
  &-about {
    padding: 15px 0 0 0;
    background-color: #dbdbdb;
    height: auto;
    background-size: 93px, 1320px;
    background-repeat: no-repeat;
    background-position: calc(50% + 100px) calc(100% - 305px), center calc(100% - 138px);
    &-title {
      font-size: 31px;
      line-height: 31px;
      margin: 0 auto 20px auto;
    }
    &-description {
      display: block;
    }
    &-info, &-list {
      width: 100%;
      text-align: justify;
    }
    &-info {
      margin-bottom: 320px;
      &-paragraph {
        font-size: 15px;
        line-height: auto;
        margin-bottom: 0;
      }
    }
    &-list {
      padding: 15px 0;
      width: 100vw;
      margin-right: calc(50% - 50vw);
      background: #fff;
      &-item {
        font-weight: bold;
        font-size: 13px;
        line-height: normal;
        width: 290px;
        margin: 0 auto;
        &:before {
          top: 50%;
          transform: translateY(-50%);
          background: $list;
          @include circle(2px);
        }
      }
    }
  }
  &-who {
    padding: 15px 0 0 0;
    background-color: #e8eae7;
    height: auto;
    background-repeat: no-repeat;
    background-position: center calc(100% - 100px);
    background-size: 1320px;
    &-title {
      font-size: 31px;
      line-height: 31px;
      margin: 0 auto 20px auto;
      font-weight: bold;
    }
    &-description {
      display: block;
    }
    &-info, &-list {
      width: 100%;
      text-align: justify;
    }
    &-info {
      margin-bottom: 320px;
      &-paragraph {
        font-size: 15px;
        line-height: auto;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-list {
      padding: 15px 0;
      width: 100vw;
      margin-right: calc(50% - 50vw);
      background: #fff;
      &-item {
        font-weight: bold;
        font-size: 13px;
        line-height: normal;
        width: 290px;
        margin: 0 auto;
        &:before {
          top: 50%;
          transform: translateY(-50%);
          background: $list;
          @include circle(2px);
        }
      }
    }
  }
  &-team {
    background: #fff;
    &-title {
      font-size: 35px;
      line-height: 35px;
      margin: 18px auto 24px auto;
    }
    &-description {
      font-size: 15px;
      line-height: normal;
      margin-bottom: 20px;
      color: $text;
      text-align: justify;
      width: 100%;
    }
    &-list {
      margin: 20px auto 26px auto;
      flex-wrap: wrap;
      width: 290px;
      &-item {
        font-size: 13px;
        line-height: normal;
        padding: 0 6px;
        border-color: #707070;
        &:nth-child(2) {
          border-left: 0;
        }
      }
    }
  }
}