.main {
  &-top {
    background-position-x: calc(50% - 40px);
    &-title {
      left: calc(50% - 395px);
    }
  }
  &-about, &-who {
    &-list {
      width: 285px;
    }
    &-info {
      width: 300px;
    }
  }
}